.myName {
  color: rgb(94, 156, 210);
  font-family: 'Indie Flower', cursive;
}


.beanwhitesmall {
    display: inline-block;
    width: 3%;
    height: 3%;
    margin-top: 2%;
    -webkit-animation: slideIn 1s forwards;
    -moz-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
  }
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }


  @media only screen and (max-width: 1000px) {
    .beanwhitesmall{
      display: none;
    }
  }